body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

.ncf-wrapper {
    margin: 0px;
    padding: 0px;
    background-color: #b22830;
}

.headerTool {
    float: right;
    display: inline-block;  
    align-items: center;
    margin-top: 30px;
    margin-right: 150px;
}

.logo {
    margin-left: 150px;
    display: inline-block;
    max-width: 100px;
}

.input {
    display: inline;
    padding-left: 10px;
    padding-right: 30px;
    width: 200px;
    height: 30px; 
    padding-top: 5px;

}

.menuxt .fa-angle-down {
    display: none;
}

.fa-search {
    position: absolute;
    z-index: 1;
    margin: 9px 0px 0px -25px;
}

.rowTool {
    margin: 0px;
    padding: 0px;   
}

.search {
    float: left;
    position: relative;
    z-index: 9;
}

.language {
    float: right;
    padding: 3px;
}

.language ul {
    margin: 0;
    padding-left: 10px;
}

.language li{
    display: inline;
    list-style: none;
}

.menuTool li {
    display: inline;
    margin-top: 10px;

}

.menuTool ul {
margin: -5px;
font-weight: 600;
font-size: 20px;
}

.menuTool a {
    cursor: pointer;
    color: #ffffff;
    font-size: px;
    padding: 10px 17px 10px 17px;
    text-decoration: none;
}

.menuTool {
    text-align: center;
    padding: 15px;
    margin-left: 10%;
}

.menuList:hover {
    background-color: #53382C;
    /* transition-delay: 0,3s; */
}

.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: inline;
}

.col3 {
    float: right;
    margin-right: 100px;
}

.menuHover {
    display: none;
    position: absolute;
    background-color: #53382C;
    z-index: 1;
    width: 100%;
    left: 0;
    animation-delay: 0,5s;
    margin-top: 10px;
}

.menuxt2 {
    display: none;
}

.img {
    margin-top: 40px;
}

.tintuc {
    margin-left: 150px;
}

.scrollMenu {
    display: inline-block;
    width: 100%;
}

.grid li {
    display: inline-block;
    margin-left: -10px;
}

.hover-li {
    float: left;
    margin: 0;
    width: 22%;
}

.hover-li-item {
    color: #f1bc7a !important;
}

.hover-li a {
    text-decoration: none;
    padding: 0;
}

.hover-li ul li {
    display: block ;
}

.menuxt {
    display: none;
}

.menuList {
    padding: 15px;

}
.menuList:hover .menuHover {
    display: flex;
    transition-delay: 1s;
}

.hover-li ul {
    padding: 0;
    display: block;
    text-align: center;
}

.bannerMenu {
    background-image: url('https://www.highlandscoffee.com.vn/skins/default/images/bgmenu.jpg');
    background-size: cover;
    height: 250px;
    width: 190px;
    margin-bottom: 19px;
}

.

.slider {
    position: absolute;
}

.hover-li {
    width: 17%;
}

li.hover-li{
    margin: 0;
    text-align: center;
    width: 16.5%;
}

.image1 a {
    position: absolute;
    float: right;
    margin: 25% 0 0 62%;
    height: 53px;
    font-size: 18px;
    border-style: solid;
    width: 239px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    border-color: rgb(243, 189, 122);
    color: rgb(243, 189, 122);
    text-decoration: none;
    cursor: pointer;
    border-width: 1px;
}

.image2 a {
    position: absolute;
    float: right;
    margin: 25% 0 0 30%;
    height: 53px;
    font-size: 18px;
    border-style: solid;
    width: 239px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    border-color: rgb(72, 98, 50);
    color: rgb(72, 98, 50);
    text-decoration: none;
    cursor: pointer;
    border-width: 1px;
}

.image3 a {
    position: absolute;
    float: right;
    margin: 25% 0 0 62%;
    height: 53px;
    font-size: 18px;
    border-style: solid;
    width: 239px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    border-color: rgb(177, 42, 45);
    color: rgb(177, 42, 45);
    text-decoration: none;
    cursor: pointer;
    border-width: 1px;
}

.khampha3:hover {
    color: black;
    background-color: rgb(177, 42, 45);
    animation-delay: 0.5s;
    transition: all 0.3s linear;
}

.khampha2:hover {
    color: black;
    background-color: rgb(72, 98, 50);
    animation-delay: 0.5s;
    transition: all 0.3s linear;
}

.khampha:hover {
    color: black;
    background-color: rgb(243, 189, 122);
    animation-delay: 0.5s;
    transition: all 0.3s linear;
}

.col-b1 {
    background-image: url(https://www.highlandscoffee.com.vn/vnt_upload/weblink/homepage-STORE_1.jpg);
    width: 50%;
    padding-bottom: 18.55% !important;
    background-size: cover;
}

.col-b2 {
    background-image: url(https://www.highlandscoffee.com.vn/vnt_upload/weblink/bg2.jpg);
    width: 50%;
    padding-bottom: 4% !important;
    background-size: cover;
}

.main1 ul {
    list-style: none;
    float: right;
    background-size: cover;
    margin-top: 95px;
    margin-bottom: 10px;
}

.main1 a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.main1 a:hover{
    color: rgb(243, 189, 122);
}

.main1 li {
    margin-right: 20px;
}

.quanmoi {
    margin-top: 15%;
    display: inline-block;
    margin-left: 75px;
    color: white;
}

.newfeed1 {
    /* margin-top: 35px; */
}

.newfeed1 li {
    display: inline-block;
}

.newfeed2 li {
    display: inline-block;
    width: 100%;
}

.newfeed2 ul {
    margin-right: 16%;
    margin-left: 8.5%;
}

.mainBot {
    display: block;
}

.mainBotImg {
    width: 30%;
    display: inline-block;
    margin-top: 10%;
    margin-top: 2.2%;
}

.newfeed3 {
    text-align: center;
    margin-top: 50px;
}

.txtBot {
    width: 65%;
    float: right;   
    margin-top: 2.2%;
}

/* .txtBot2 {
    text-align: left;
    display: inline-block;
    float: left;
} */

.fa-calender {
    margin-right: 10px;
}

.txtCalendar {
    margin-top: 7px;
} 

.mainBotImg2 {
   width: 30%;
   float: left;
}

.language a i {
    font-size: 36px;
    color: white;
}

#menu-bar {
    display: none;
}

.footer {
    background: #53382c;
    padding: 30px;
}

.socialFood {
    display: inline-block;
    float: left;
    margin-top: 20px;
}

.socialFood li {
    display: inline-block;
    padding: 5px 10px;
    background: white;
    color: black;
}

.copyRight {
    display: inline-block;
    margin: 25px 200px 0px 200px;
    color: white;
}

.linkFooter a {
    color: white;
}

.linkFooter {
    display: inline-block;
    margin-top: 10px;
}

.btnX {
    padding: 3px 10px;
    font-size: 170%;
    width: 50px;
    float: left;
    border: none;
    background-color: white;
    display: none;
}

.linkFooterEmail {
    display: inline-block;
    float: right;
    margin-top: 20px;
    padding: 5px;
}

.linkFooterEmail a {
    color: white;
}

@media only screen and (max-width: 800px){
    .image1 a {
        width: 20%;
        font-size: 100%;
        height: 6.5%;
        vertical-align: center;
    }
    .image2 a {
        width: 20%;
        font-size: 100%;
        height: 6.5%;
    }
    .image3 a {
        width: 20%;
        font-size: 100%;
        height: 6.5%;
    }

    .col-b1 {
        width: 100%;
    }

    .col-b2 {
        width: 100%;
        overflow: hidden;
    }

    .footer {
        overflow: hidden;
        display: block;
        text-align: center;
    }

    .foot {
        overflow: hidden;
        text-align: center;
    }

    .socialFood {
        display: block;
        text-align: center;
        width: 100%;
    }

    .socialFood ul{
        padding: 0;
    }

    .copyRight {
        /* display: block; */
        margin: 0;
    }

    .linkFooter {
        display: block;
        text-align: center;
    }

    .linkFooterEmail {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
    }
    #menu-bar {
        display: inline-block;
        margin-left: 10%;

    }

    .language li img {
        margin-top: -52%;
    }
    .language {
        float: right;
        padding: 2px;
        margin-top: -1%;
        display: inline-block;
    }
    .input {
        display: none;
    }
    .fa-search {
        display: none;
    }
    .language li {
        display: inline-block;
        list-style: none;
    }
    .headerTool {
        margin-right: 3%;
    }
    .menuTool {
        text-align: center;
        display: none;
        position: fixed;
        z-index: 1;
        right: 0;
        margin-top: -12%;
        background-color: #F5F5F5;
        text-align: left;
        width: 45%;
        padding-right: 22px;
        padding-left: 0;
        padding-bottom: 0;
        padding: 0 22px 0 0;
        overflow-x: hidden;
    }
    .menuTool li {
        display: block;
        /* margin-left: 17px; */
        width: 100%;
    }
    .menuList a {
        color: black;
    }
    .menuTool ul {
        font-size: 13px;
        margin-right: 0;
        margin-left: 3%;
    }
    .hover-li-item {
        margin-right: 14%;
        padding: 15px;
    }
    .btnX {
        display: inline-block;
        margin-top: 1px;
        margin-left: 1px;
    }
    .btnX:hover {
        background-color: #B22830;
        transition: all 0.3s linear;
        color: white;
    }
    /* div.menuTool {
        overflow: scroll;
        height: 50%;
    } */
    .scrollMenu {
        display: none;
    }
    .m-cate {
        padding: 10px 30px 10px 0px;
        text-align: left;
    }
    .menuList {
        border-bottom: 1px solid;
        margin-left: -20%;
        margin-top: -1.5%!important;
        width: 127.6%!important;
    }
    /* .menuList:hover {
        margin-left: -19%;
        background-color: rgb(177, 42, 45);
        animation-delay: 0.5s;
        transition: all 0.3s linear;
        width: 127.5%;
        margin-right: -2%;
    } */
    .menuList:hover a{
        color: white;
    }
    /* .header-drop.active {
        background-color: #B22830 !important;
      } */
    .menuxt {
        float: right;
        display: block;
        margin-top: -3.5%;
    }
    .menuxt2 {
        display: block;
    }
    .menuxt2 {
        margin-left: 51%;
        float: right;
    }
    .menuxt2-show {
        margin-left: -67%;
    }
    .menuxt2-show li{
        text-align: left;
    }
    /* .msub div.active .fa-angle-down , .header-drop.active .menuxt .fa-angle-down {
        display: inline-block;
    }
    .msub div.active .fa-angle-right ,.header-drop.active .menuxt .fa-angle-right {
        display: none;
    } */
    .carousel-indicators {
        margin-left: -86%;
    }
    .mmenu.active {
        display: block;
    }
    .menu div .fa-angle-down {
        display: none;
    }
    .mmenu div.active .fa-angle-down, .header-drop.active .menuxt .fa-angle-down {
        display: inline-block;
    }
    .mmenu div.active .fa-angle-right ,.header-drop.active .menuxt .fa-angle-right {
        display: none;
    }
    /* .m-cate div.active .fa-angle-down, .header-drop.active .menuxt .fa-angle-down {
        display: inline-block;
    }
    .m-cate div.active .fa-angle-right ,.header-drop.active .menuxt .fa-angle-right {
        display: none;
    } */
    .menuxt2 div.active .fa-angle-down, .header-drop.active .menuxt .fa-angle-down {
        display: inline-block;
    }
    .menuxt2 div.active .fa-angle-right ,.header-drop.active .menuxt .fa-angle-right {
        display: none;
    }
    .menuxt2 .fa-angle-down {
        display: none;
    }
    /* .m-cate.active {
        display: block;
    } */
    .menuxt2-show {
        display: none!important;
    }
    .menuxt2-show.active {
        display: block!important;
        margin-bottom: 2%;
    }
    .mmenu.active {
        display: inline-block;
    }
    .msub.active {
        display: block;
    }
    .menuHover {
        display: block;
        width: 99%;
    }
    .bannerMenu {
        display: none;
    }
}
