body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

.ncf-wrapper {
    margin: 0px;
    padding: 0px;
    background-color: #b22830;
}

.headerTool {
    float: right;
    display: inline-block;  
    align-items: center;
    margin-top: 30px;
    margin-right: 150px;
}

.logo {
    margin-left: 150px;
    display: inline-block;
    max-width: 100px;
}

.input {
    display: inline;
    padding-left: 10px;
    padding-right: 30px;
    width: 200px;
    height: 30px; 
    padding-top: 5px;

}

.fa-search {
    position: absolute;
    z-index: 1;
    margin: 9px 0px 0px -25px;
}

.rowTool {
    margin: 0px;
    padding: 0px;   
}

.search {
    float: left;
    position: relative;
    z-index: 9;
}

.language {
    float: right;
    padding: 3px;
}

.language ul {
    margin: 0;
    padding-left: 10px;
}

.language li{
    display: inline;
    list-style: none;
}

.menuTool li {
    display: inline;
    margin-top: 10px;

}

.menuTool ul {
margin: -5px;
font-weight: 600;
font-size: 20px;
}

.menuTool a {
    cursor: pointer;
    color: #ffffff;
    font-size: px;
    padding: 10px 17px 10px 17px;
    text-decoration: none;
}

.menuTool {
    text-align: center;
    padding: 15px;
}

.menuList:hover {
    background-color: #53382C;
    /* transition-delay: 0,3s; */
}

.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: inline;
}

.col3 {
    float: right;
    margin-right: 100px;
}

.menuHover {
    display: none;
    position: absolute;
    background-color: #53382C;
    z-index: 1;
    width: 100%;
    left: 0;
    animation-delay: 0,5s;
    margin-top: 10px;
}

.img {
    margin-top: 40px;
}

.tintuc {
    margin-left: 150px;
}

.scrollMenu {
    display: inline-block;
    width: 100%;
}

.grid li {
    display: inline-block;
    margin-left: -10px;
}

.hover-li {
    float: left;
    margin: 0;
    width: 22%;
}

.hover-li-item {
    color: #f1bc7a !important;
}

.hover-li a {
    text-decoration: none;
    padding: 0;
}

.hover-li ul li {
    display: block !important;
}

.menuList {
    padding: 15px;

}
.menuList:hover .menuHover {
    display: flex;
    transition-delay: 1s;
}

.hover-li ul {
    padding: 0;
    display: block;
    text-align: center;
}

.bannerMenu {
    background-image: url('https://www.highlandscoffee.com.vn/skins/default/images/bgmenu.jpg');
    background-size: cover;
    height: 250px;
    width: 190px;
    margin-bottom: 19px;
}

.hover-li {
    width: 17%;
}

li.hover-li{
    margin: 0;
    text-align: center;
    width: 16.5%;
}

.image1 {
    background-image: url(https://www.highlandscoffee.com.vn/vnt_upload/product/04_2018/menu-PSD-bg.jpg);
    background-size: cover;
}

.image2 {
    background-image: url(https://www.highlandscoffee.com.vn/vnt_upload/product/04_2018/menu-FREEZE.jpg);
    background-size: cover;
}

.image3 {
    background-image: url(https://www.highlandscoffee.com.vn/vnt_upload/product/04_2018/menu-TEA-bg.jpg);
    background-size: cover;
}

.image4 {
    background-image: url(https://www.highlandscoffee.com.vn/vnt_upload/product/03_2018/menu-BANHMI-bg_2.jpg);
    background-size: cover;
    height: 380px;
}

.caption {
    width: 50%;
    float: left;
    margin: 20px 0px 0px 170px;
}

.caption2 {
    width: 50%;
    float: right;
    margin: 55px 0px 0px 170px;
}

.caption3 {
    width: 50%;
    float: left;
    margin: 55px 0px 0px 170px;
}

.caption4 {
    width: 44%;
    float: right;
    margin: 30px 0px 0px 0px;
}

.tend {
    height: 78px;
}

.tend2 {
    height: 85px;
}

.tend3 {
    height: 85px;
}

.des {
    height: 175px;
    width: 67%;
}

.des2 {
    height: 125px;
    width: 66%;
}

.des3 {
    height: 125px;
    width: 66%;
}

.des4 {
    height: 145px;
    width: 90%;
}

.des4 span {
    font-size: 18px;
    font-weight: bold;
}

.des3 span {
    font-size: 18px;
    font-weight: bold;
}

.des2 span {
    font-size: 18px;
    font-weight: bold;
}

.des span {
    font-size: 18px;
    font-weight: bold;
}

.image1 a {
    text-decoration: none;
    cursor: pointer;
}

.image2 a {
    text-decoration: none;
    cursor: pointer;
}

.image3 a {
    text-decoration: none;
    cursor: pointer;
}

.image4 a {
    text-decoration: none;
    cursor: pointer;
}

.khampha:hover {
    background: #b22830 !important;
    border-color: #b22830 !important;
    color: #ffffff !important;
}

.khampha {
    position: absolute;
    float: right;
    height: 53px;
    font-size: 18px;
    border-style: solid;
    width: 239px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    border-color: rgb(243, 189, 122);
    color: rgb(243, 189, 122);
    text-decoration: none;
    cursor: pointer;
    border-width: 1px;
}

.mainBot {
    display: block;
}

.mainBotImg {
    width: 30%;
    display: inline-block;
}

.newfeed3 {
    text-align: center;
    margin-top: 50px;
}

.txtBot {
    width: 70%;
    float: right;   
}

/* .txtBot2 {
    text-align: left;
    display: inline-block;
    float: left;
} */

.fa-calender {
    margin-right: 10px;
}

.txtCalendar {
    margin-top: 7px;
} 

.mainBotImg2 {
   width: 24%;float: left;
}

.footer {
    background: #53382c;
    padding: 15px;
}

.socialFood {
    display: inline-block;
    float: left;
    margin-top: -1px;
}

.socialFood li {
    display: inline-block;
    padding: 5px 10px;
    background: white;
    color: black;
}

.copyRight {
    display: inline-block;
    margin: 6px 200px 0px 200px;
    color: white;
}

.linkFooter {
    display: inline-block;
}

.linkFooterEmail {
    display: inline-block;
    float: right;
    margin-top: 0px;
    padding: 5px;
}



